<div class = "col-xs-3">
  <%= link_to(image_tag(img.gif, class: "img-responsive"), "#showpost","data-toggle" => "modal", "data-target" => "#showpost#{img.id}") %>
  <%= link_to 'Show', img %>
  <%= link_to 'Edit', edit_post_path(img) %>
  <%= link_to 'Destroy', img, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
