<div class = "col-xs-3">
  <% if img.gif_image.blank? %>
    <%= link_to(image_tag(img.gif, class: "img-responsive"), "#showpost","data-toggle" => "modal", "data-target" => "#showpost#{img.id}") %>
  <% else %>
    <%= link_to image_tag(attachment_url(img, :gif_image), class: "img-responsive"), "#showpost", "data-toggle" => "modal", "data-target" => "#showpost#{img.id}" %>
  <% end %>
</div>
