<div id= "voteLogic">
  <% if current_user %>
    <p> <%= button_to "Like", upvote_post_path(img), remote: true%> <%= img.get_upvotes.size - img.get_downvotes.size%>  <%= button_to "Dislike", downvote_post_path(img), remote: true%></p>
  <% end %>
</div>
